<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- 
	1，创建mybatis的基本配置文件，名字随意，在该文件中完成和数据库的连接设置操作，以及事物操作。
	2，创建数据模型类，
	3，创建mapper.xml配置文件
	4，创建SQLSession，并通过SQLSession完成对数据库的操作
 -->
<configuration>
	<properties resource="db.properties"/>
	<!-- properties之后配置模型类的别名 -->
	<typeAliases>
		<!-- 老版本的mybatis必须一个一个配置模型类的别名-->
		<!-- <typeAlias type="mybatis.shop.model.User" alias="user"/> -->
		<!-- 新版本的mybatis可以使用packname元素，一次性自动完成模型类别名的映射 -->
		<package name="mybatis.shop.model"/>
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driverClass}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.user}" />
				<property name="password" value="${jdbc.password}" />
			</dataSource>
		</environment>
	</environments>
	<!-- 将mapper.xml映射文件加载到配置文件中 -->
	<mappers>
		<mapper resource="mybatis/shop/model/User.xml"/>
	</mappers>
</configuration>